.movies__more {
    display: flex;
    justify-content: center;
}

.movies__more-btn {
    width: 320px;
    height: 36px;
    margin: 50px auto 80px;
    font-size: 12px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border-radius: 6px;
    border: 0px solid transparent;
    background-color: #F9F9F9;
}

.movies__more-btn:hover {
    opacity: 0.8;
}


@media screen and (max-width: 540px) {
    .movies__more-btn {
        width: 240px;
    }
}

.movies__massage {
    text-align: center;
}