.form {
    position: relative;
}

.form__label {
    font-size: 10px;
    font-weight: normal;
    color: #A0A0A0;
}

.form__input {
    width: 396px;
    height: 46px;;
    border-radius: 8px;
    background-color: #F9F9F9;
    border: none;
    margin: 10px 0 20px;
    font-size: 13px;
    font-weight: normal;
    color: black;
    padding-left: 15px;
}

.form__input:focus{
    outline: none;
    border: 0.5px solid #F9F9F9;
}

.form__input_error {
    color: #EE3465;
}

@media screen and (max-width: 540px) {
    .form__input {
        width: 260px;
    }
}

.form__btn {
    height: 45px;
    background-color: #000000;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 179px;
    margin-bottom: 16px;
    border: none;
    width: 410px;
}

.form__btn_disabled {
    color: #818b9b;
}

.form__btn:hover {
    background-color: #EE3465;
}

@media screen and (max-width: 768px) {
    .form__btn {
        margin-top: 69px;
    }
}

@media screen and (max-width: 540px) {
    .form__btn {
        margin-top: 267px;
        font-size: 12px;
        width: 260px;
    }
}

@media screen and (max-width: 768px) {
    .form__button-login {
        margin-top: 179px;
    }
}

.form__input-error-text {
    color: #EE3465;
    font-size: 10px;
    font-weight: normal;
    display:block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form__submit-error {
    display: none;
}

.form__submit-error_visible {
    color: #EE3465;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 396px;
}