.header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 18px 70px 18px 70px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 30px 18px 30px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 540px) {
    .header {
        padding: 18px 14px 18px 14px;
    }
}

.header-main {
    background-color: #F3C1F8;
    justify-content: space-between;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__sign-btn {
    width: 76px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #000000;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .header__sign-btn {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}


.header__sign-btn:hover {
    background-color: #000000;
}

.header__sign-link {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding-top: 7px;
    padding-right: 30px;
}

@media screen and (max-width: 540px) {
    .header__sign-link {
        font-size: 10px;
    }
}

.header__sign-link:hover {
    color: white;
}

.header__profile-burger {
    background-image: url('../../images/burger-menu.svg');
    width: 44px;
    height: 44px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .header__profile-burger {
        display: none;
    }
}
@media screen and (max-width: 540px) {
    .header__profile-burger {
        width: 40px;
        height: 43px;
    }
}