.navTab {
    background-color: #000;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navTab__link {
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor:pointer;
    text-decoration-line: underline;
    line-height: 16px;
}

.navTab__link:hover {
    color: #FF4062;
}

@media screen  and (max-width: 540px) {
    .navTab__link {
        font-size: 11px;
    }
}